body {
	background: #7FDBFF;
	color: #001f3f;
	text-align:center;
	font-family:Helvetica;
	font-size:24px;
}

h1 {
	border-style: solid;
	border-width: 10px;
	border-color: #CD5C5C;
	padding: 1%;
	width: 40%;
	height:10%;
	margin:auto;
}

p {
	font-size:18px;
}

footer {
	position:fixed;
	bottom:0;
	font-size: 14px;
	padding: 1%;
}

.topnav{
	position:fixed;
	top:0;
	background-color: #DDDDDD;
}

.topnav a {
	float:left;
	display:block;
	color:#001f3f;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	font-size:20px;
}

.topnav a:hover {
	background-color: #001f3f;
	color: #DDDDDD;
}